In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./news_websites(wikipedia).csv')

In [3]:
df.head()

,Name,Link,Country
0,Gazeta 55,https://www.55news.al/,Albanian news websites
1,Gazeta Telegraf,https://telegraf.al/,Albanian news websites
2,Koha Jonë,https://kohajone.com/,Albanian news websites
3,News 24 (Albanian TV channel),https://www.news24.al/,Albanian news websites
4,RTSH,https://rtsh.al/,Albanian news websites

In [4]:
df.count()

Name       1785
Link       1453
Country    1785
dtype: int64

In [5]:
df.loc[df["Link"] == "N/A", "Link"] = pd.NA

In [6]:
df.isna().sum()

Name         0
Link       332
Country      0
dtype: int64