In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('news_websites(wikipedia).csv')

In [3]:
df.head()

,Name,Link,Country
0,Gazeta 55,https://www.55news.al/,Albanian news websites
1,Gazeta Telegraf,https://telegraf.al/,Albanian news websites
2,Koha Jonë,https://kohajone.com/,Albanian news websites
3,News 24 (Albanian TV channel),https://www.news24.al/,Albanian news websites
4,RTSH,https://rtsh.al/,Albanian news websites

In [4]:
df.rename(columns={
  'Name': 'publisher_name',
  'Link': 'link',
  'Country': 'country',
}, inplace=True)

In [5]:
df.head()

,publisher_name,link,country
0,Gazeta 55,https://www.55news.al/,Albanian news websites
1,Gazeta Telegraf,https://telegraf.al/,Albanian news websites
2,Koha Jonë,https://kohajone.com/,Albanian news websites
3,News 24 (Albanian TV channel),https://www.news24.al/,Albanian news websites
4,RTSH,https://rtsh.al/,Albanian news websites

In [6]:
df['country'] = df['country'].str.split().str.slice(0, -2).str.join(' ')

In [7]:
df.head()

                  publisher_name                    link   country
0                      Gazeta 55  https://www.55news.al/  Albanian
1                Gazeta Telegraf    https://telegraf.al/  Albanian
2                      Koha Jonë   https://kohajone.com/  Albanian
3  News 24 (Albanian TV channel)  https://www.news24.al/  Albanian
4                           RTSH        https://rtsh.al/  Albanian

In [8]:
df.to_csv('news_websites_modded.csv', index=False)